.moonHeader {
  position: absolute;
  height: 20vw;
  top: 5vh;
  left: 5vw;
}
.logo {
  width: 20vw;
  height: 28vh;
  background-image: url('../../images/logo.svg');
  background-size: cover;
}
.bm-burger-button button {
position: absolute !important;
bottom: 0px !important;
right: 0px !important;
width: 10vw !important;
height: 10vw !important;
margin: 0px !important;
padding: 0px !important;
border: none !important;
opacity: 1 !important;
font-size: 8px !important;
cursor: pointer !important;
background-image: url(/static/media/bBTN.c35cddce.svg);
background-size: contain;
background-color: black;
color: white;
background-repeat: no-repeat;
}
